<!--HomePage BookS-->

<!--container-->
<div class="container-fluid bookself" id="bookshelf_container">

    <div class="row">
        <div class=" col-lg-12 titlebtnbox">
            <div id="carouselNewArivalsControls" class="carousel col-lg-12 slide" data-ride="">
                <div class="prevdiv">
                    <span class=" carousel-control-prev carousel-control-prev-icon" aria-hidden="true"
                        href="#carouselNewArivalsControls" role="button" data-slide="prev"></span>
                </div>
                <h2 class="">New Arivals</h2>
                <div class=" nextdiv">
                    <span class=" carousel-control-next carousel-control-next-icon" aria-hidden="true"
                        href="#carouselNewArivalsControls" role="button" data-slide="next"></span>
                </div>
                <div class=" carousel-inner">

                    <!--slider newarivals-->

                    <!--Slider newarivals part 1-->
                    <div class="carousel-item">
                        <div class="row">
                            {{#each NewArival1}}

                            <div class="col-sm-4 col-md-4 col-lg-2"> <img
                                    src="http://covers.openlibrary.org/b/isbn/{{this}}.jpg" class="d-block w-100"
                                    alt="first slide">
                            </div>
                            {{/each}}
                        </div>

                    </div>

                </div>


                <!--End of slider newarivals part 1-->

                <!--Slider arivalspart 2 random-->
                <div class="carousel-item">
                    <div class="row">
                        {{#each NewArival2}}

                        <div class="col-sm-4 col-md-4 col-lg-2"> <img
                                src="http://covers.openlibrary.org/b/isbn/{{this}}.jpg" class="d-block w-100"
                                alt="first slide">
                        </div>
                        {{/each}}
                    </div>

                </div>
                <!-- end of slider newarivals part 3-->

                <!--Slider arivalspart 2 random-->
                <div class="carousel-item">
                    <div class="row">
                        {{#each NewArival3}}

                        <div class="col-sm-4 col-md-4 col-lg-2"> <img
                                src="http://covers.openlibrary.org/b/isbn/{{this}}.jpg" class="d-block w-100"
                                alt="first slide">
                        </div>
                        {{/each}}
                    </div>

                </div>
                <!-- end of slider newarivals part 3-->
            </div>
        </div>

        <div class="col-lg-12 titlebtnbox">
            <div class="prevdiv">
                <span class=" carousel-control-prev carousel-control-prev-icon" aria-hidden="true"
                    href="#carouselPopularControls" role="button" data-slide="prev"></span>
            </div>
            <h2 class="">Popular</h2>
            <div class=" nextdiv">
                <span class=" carousel-control-next carousel-control-next-icon" aria-hidden="true"
                    href="#carouselPopularControls" role="button" data-slide="next"></span>
            </div>
        </div>
        <!--popular slider-->
        <div id="carouselPopularControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <!--Slider popular part 1"public/assets -->
                <div class="carousel-item active">
                    <div class="row">
                        {{#each Popular1}}

                        <div class="col-sm-4 col-md-4 col-lg-2"> <img
                                src="http://covers.openlibrary.org/b/isbn/{{this}}.jpg" class="d-block w-100"
                                alt="first slide">
                        </div>
                        {{/each}}
                    </div>
                </div>
                <!--End of slider popular part 1-->

                <!--Slider popular part 2 random-->
                <div class="carousel-item">
                    <div class="row">
                        {{#each Popular2}}

                        <div class="col-sm-4 col-md-4 col-lg-2"> <img
                                src="http://covers.openlibrary.org/b/isbn/{{this}}.jpg" class="d-block w-100"
                                alt="first slide">
                        </div>
                        {{/each}}
                    </div>
                </div>
                <!-- end of slider popular part 2-->

                <!--Slider popular part 3 random-->
                <div class="carousel-item">
                    <div class="row">
                        {{#each Popular3}}

                        <div class="col-sm-4 col-md-4 col-lg-2"> <img
                                src="http://covers.openlibrary.org/b/isbn/{{this}}.jpg" class="d-block w-100"
                                alt="first slide">
                        </div>
                        {{/each}}
                    </div>


                </div>
                <!-- end of slider popular part 3-->

            </div>
        </div>


        <div class="col-lg-12 titlebtnbox">
            <div class="  prevdiv">
                <span class=" carousel-control-prev carousel-control-prev-icon" aria-hidden="true"
                    href="#carouselRandomControls" role="button" data-slide="prev"></span>
            </div>
            <h2 class="">Random</h2>
            <div class="nextdiv">
                <span class=" carousel-control-next carousel-control-next-icon" aria-hidden="true"
                    href="#carouselRandomControls" role="button" data-slide="next"></span>
            </div>
        </div>

        <!--random slider-->
        <div id="carouselRandomControls" class="carousel slide" data-ride="">
            <div class="carousel-inner">
                <!--Slider random part 1-->
                <div class="carousel-item active">
                    <div class="row">
                        {{#each Random1}}

                        <div class="col-sm-4 col-md-4 col-lg-2"> <img
                                src="http://covers.openlibrary.org/b/isbn/{{this}}.jpg" class="d-block w-100"
                                alt="first slide">
                        </div>
                        {{/each}}
                    </div>
                </div>
                <!--End of slider Random part 1-->

                <!--Slider random part 2 random-->
                <div class="carousel-item">
                    <div class="row">
                        {{#each Random2}}

                        <div class="col-sm-4 col-md-4 col-lg-2"> <img
                                src="http://covers.openlibrary.org/b/isbn/{{this}}.jpg" class="d-block w-100"
                                alt="first slide">
                        </div>
                        {{/each}}
                    </div>

                </div>
                <!-- end of slider random part 3-->

                <!--Slider random part 2 random-->
                <div class="carousel-item">
                    <div class="row">
                        {{#each Random3}}

                        <div class="col-sm-4 col-md-4 col-lg-2"> <img
                                src="http://covers.openlibrary.org/b/isbn/{{this}}.jpg" class="d-block w-100"
                                alt="first slide">
                        </div>
                        {{/each}}
                    </div>

                </div>
                <!-- end of slider random part 3-->


            </div>
        </div>
    </div>
</div>