{{!--   THIS IS JUST A TEMPORARY BACKUP AS I'M TRYING SOMETHING NEW IN THE OTHER CODE  --}}
<div id="bookcase" class="container">

    <!-- Profile -->

    <div id="profileHeaderBlock" class="row">
        <div class="col-12">
            <h2 id="profileHeader">{{username}}</h2>
        </div>
    </div>
    <div id="userInfo" class="row">
        <div class="col-3">
            <img id="userImage" class="profilePic" src="../assets/images/profile-placeholder-pic.jpg">
            <h3 id="userLocation">{{zipcode}}</h3>
        </div>
        <div class="col-9">

            <h3 id="bioHeadline">About Me</h3>
            <p id="userBio">{{about_me}}</p>
    
        </div>
    </div>

    <!-- Book Section -->

    <div class="row">
        <div id="profileBookSection" class="col-12">

            

            <!-- Owned Books -->

            <div class="booksToLoan">
                <div id="booksToLoanHeadline">
                    <h3 style="display: inline;">Books Owned</h3>
                    <button class="addButton">+</button>
                </div>

                {{!-- CAROUSEL 1 --}}
                <div>
                    
                    <table>
                        <tr>
                            {{#each books_owned}}
                                <td>
                                    <img class="bookCover" src="{{this}}">
                                </td>
                            {{/each}}
                        </tr>
                    </table>
                    
                </div>

            </div>

            <!-- Borrowed Books -->
            <div class="booksBorrowed">
                <div id="booksBorrowedHeadline">
                    <h3 style="display: inline;">Books Borrowed</h3>
                    <button class="addButton">+</button>
                </div>
                
                {{!-- CAROUSEL 2 --}}
                <div>
                    {{#each books_onloan}}
                        <img class="bookCover" src="{{this}}">
                    {{/each}}
                </div>

            </div>
        </div>
    </div>
    {{!-- Add Book Module --}}
    <div id="modalDisplay">
        {{>addmodal-block}}
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
<script src="../assets/javascript/script.js"></script>
